body {
    background-image: url("../img/bg.jpg");
}

h1 {
    background-color: #008177;
    border-radius: 20px;
    color: white;
    font-family: 'Arial';
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width:90%;
    padding: 10px;
    text-align: center;
}

h3 {
    border-radius: 20px;
    color: black;
    font-family: 'Arial';
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width:90%;
    padding: 10px;
    text-align: center;
}

.info {
    background-color: #008177;
    border-radius: 20px;
    color: white;
    font-family: 'Arial';
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 90%;
    padding: 10px;
}

.submit {
    background-color: #32CD32;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    color: white;
    display: block;
    font-family: 'Arial';
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: bold;
    width: 60%;
}

.submit:hover {
    background: #008000;
    border: none;
    box-shadow: 0 0 1px #777;
}

.signUp {
    background-color: #008177;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    color: white;
    display: block;
    font-family: 'Arial';
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

.textbox {
    float: right;
    width: 50%;
}

.emailbox {
    width: 40%;
}

.passbox {
    float: right;
    width: 40%;
}

.email {
    float: right;
    width: 50%;
}

.emaillabel {
    font-size: 30%;
}

.forgotpass {
    background-color: #A9A9A9;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    color: white;
    display: block;
    float:right;
    font-family: 'Arial';
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 6px;
    text-align: center;
    text-decoration: bold;
    width: 50%;
}

.create {
    float:left;
}

.backbutton {
    background-color: #A9A9A9;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    color: white;
    display: block;
    font-family: 'Arial';
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: bold;
    width: 60%;
}

.dlg-no-close .ui-dialog-titlebar-close {
    display: none;
}

.rememberme {
    font-size: 75%;
    text-align: right;
}

.dialog .dialogEmail .dialogPass .dialogPassword1 .dialogPassword2 .dialogPassMatchErr .dialogAcc .dialogAccErr {
    display: none;   
}

input, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

input[type=checkbox] {
    -moz-appearance: checkbox;
    -webkit-appearance:checkbox;
}