body{
    background-image: url("../img/currentinfo.jpg")
}

h1{
    background-color: #008177;
    border-radius: 20px;
    color: white;
    font-family: 'Arial';
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width:90%;
    padding: 10px;
    position: center;
    text-align: center;
}

h3{
    border-radius: 20px;
    color: black;
    font-family: 'Arial';
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width:90%;
    padding: 10px;
    position: center;
    text-align: center;
}

.detail{
    background-color: #008177;
    border-radius: 20px;
    color: white;
    font-family: 'Arial';
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 90%;
    padding: 10px;
    position: center;
}

.detail p {
    position:relative;
}

#trips{
    background-color: #A9A9A9;
    border: none;
    border-radius: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    display: block;
    font-family: 'Arial';
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: bold;
    width: 80%;
}

#trips:hover{
  border: none;
  background: #7e7e7e;
  box-shadow: 0px 0px 1px #777;
}

.backbutton{
    background-color: #A9A9A9;
    border: none;
    border-radius: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    display: block;
    font-family: 'Arial';
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: bold;
    width: 60%;
}

.backbutton:hover{
  border: none;
  background: #7e7e7e;
  box-shadow: 0px 0px 1px #777;
}

.editbutton{
    float:right;
    background-color: #A9A9A9;
    border: none;
    border-radius: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    display: block;
    font-family: 'Arial';
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 6px;
    text-align: center;
    text-decoration: bold;
    width: 20%;
}

.editbutton:hover{
  border: none;
  background: #7e7e7e;
  box-shadow: 0px 0px 1px #777;
}

.updatebutton{
    background-color: #32CD32;
    border: none;
    border-radius: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    display: block;
    float: left;
    font-family: 'Arial';
    font-size: 12px;
    margin-left: auto;
    margin-right: 6px;
    margin-top: 0px;
    padding: 6px;
    text-align: center;
    text-decoration: bold;
    width: 20%;
}

.updatebutton:hover{
    background: #008000;
    border: none;
    box-shadow: 0px 0px 1px #777;
}

.deletebutton{
    background-color: red;
    border: none;
    border-radius: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    display: block;
    float: left;
    font-family: 'Arial';
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 6px;
    text-align: center;
    text-decoration: bold;
    width: 20%;
}

.deletebutton:hover{
  border: none;
  background: #B22222;
  box-shadow: 0px 0px 1px #777;
}
    
.cancelbutton{
    background-color: red;
    border: none;
    border-radius: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    display: block;
    font-family: 'Arial';
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: bold;
    width: 60%;
}

.cancelbutton:hover{
  border: none;
  background: #B22222;
  box-shadow: 0px 0px 1px #777;
}

.input{
    float: right;
    width: 42%;
}

input.input {
    margin-right: 30px;
}

select.input {
    width: 50%
}

a {
    color: #ffffff;
    text-align: center;
}

div.datepick {
    float: right;
}

.ui-datepicker-trigger {
    width:20px;
    float: right;
    position: absolute;
    right: 0;
}

.dlg-no-close .ui-dialog-titlebar-close {
    display: none;
}

#dialogError {
    display: none;   
}

#dialogUpdated #dialogDeleted #dialogConfirm{
    display: none;   
}